---
import Layout from "../layout/App.astro";
import Table from '../components/table/table.astro';
---



<Layout title="C R U D">
    <h1 class="text-center font-bold">CRUD</h1>
    <Table/>
</Layout>